@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/*SET Browser background Autocomplete to background color*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #060e1a inset !important;
    -webkit-text-fill-color: white !important;
}

::-webkit-scrollbar {
    display: none;
}


.main {
    padding: 0px 15rem;
}

/*BTNs*/
.btn {
    all: unset;
    text-align: center;
    background-color: #174456;
    color: rgb(255, 255, 255);
    padding: 0.25rem 1.75rem;
    border-radius: 3rem;
    transition: background-color 300ms ease;
}


.btn:hover {
    cursor: pointer;
    background-color: #0b2b3a;
    border: none;
    color: white;
}

/*GLOBAL*/

body {
    font-family: "Poppins", sans-serif;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: revert;
    /*Fixed background image*/
    background-image: url(images/homeBackground.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*padding: 0px 18rem;*/
}

html {
    font-size: 14px;
    /*background-color: #060e1a;*/
}

#content #title {
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
}

#content .form-title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
}


.field-container {
    display: flex;
    flex-direction: column;

}

.filter-buttons {
    text-align: right;
}

.names-container {
    display: flex;
    justify-content: space-between;
    gap: 3.4rem;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form {
    animation: fadeInAnimation .6s linear;
}

.field-container.checkbox {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.field-container.checkbox input {
    background-color: red;
    line-height: 0;
}

.field-container.checkbox input {
    margin: 0;
}

.main-container .submit {
    /* width: 60%; */
    display: block;
    margin: 0 auto;
}

.form input, .form textarea, .form select {
    border-radius: 2rem;
    border: 1px solid #b8b8b8;
    height: 3.4rem;
    background-color: transparent;
    backdrop-filter: blur(0.2rem);
    color: white;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
}

.form textarea {
    border-radius: 1rem;
    resize: none;
    height: 20rem;
    overflow: auto;
}

.form label {
    font-size: 1.1rem;
    color: white;
}

.form span {
    font-size: 1.1rem;
    color: white;
}

.form .error {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    color: darkred;
}

.content-characters {
    display: flex;
    justify-content: space-between;
}

.form label:not(:last-child) {
    margin-bottom: 6px;
}

.names-container .field-container {
    width: 47%;
}

.form button {
    background-color: #1f5617;
    border: none;
    padding: 9px 22px;
    border-radius: 20px;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

.form .reset {
    background-color: #562317;
}

.form .reset:hover {
    background-color: #3f1910;
    border: none;
    color: white;
}

.form button:hover {
    background-color: #0e3a0b;
    border: none;
    color: white;
}

.form button:hover {
    cursor: pointer;
}

/*HIDE placeholder text when FOCUSED*/
input:focus::placeholder {
    color: #060e1a;
}

textarea:focus::placeholder {
    color: #060e1a;
}

/*NAVIGATION hover effects*/
.main .header .logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main .links .nav-link:hover {
    cursor: pointer;
    transform: scale(1.2);
}