@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

html {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.btns {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.btns a {
    padding: 0.5rem 1rem;
    font-weight: 500;
    background-color: white;
    border: none;
    color: rgb(65, 89, 96);
    transition: ease-in-out .1s;
    text-decoration: none;
}

.btns a:hover {
    cursor: pointer;
    color: #054752;
}

.hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .title {
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translate(-50%, -50%);
}

.additional-info {
    background-color: #ededed;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    height: 34vh;
    padding: 2rem 28rem;
}

.additional-info .fa-solid {
    color: rgb(65, 89, 96);
    font-size: 2rem;
    padding-bottom: 1.2rem;
}

.additional-info .info-title {
    color: #054752;
    font-size: 1rem;
    padding-bottom: .2rem;
}

.additional-info .info-content {
    color: rgb(65, 89, 96);
    font-weight: 500;
    font-size: .9rem;
    padding-bottom: .2rem;
}

.form {
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: white;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.25);
}

.form > * {
    display: flex;
    gap: .4rem;
    align-items: center;
    padding: .9rem 1rem;
}

.form i {
    color: rgb(65, 89, 96);
}


.form input {
    all: unset;
}

.form div:not(:first-child) {
    border-left: 1px rgba(65, 89, 96, 0.51) solid;
}

.form input[type="text"] {
    max-width: 12rem;
    transition: color ease-in-out .1s;
}

.form input[type="text"]::placeholder {
    color: #00aff5;
    font-weight: 500;
}

.form input[type="text"]:focus::placeholder {
    color: transparent;
}

.form input[type="number"] {
    max-width: 2rem;
}

.form button {
    all: unset;
    background-color: #00aff5;
    color: white;
    text-align: center;
    width: 8rem;
    transition: ease-in-out .1s;
}

.form button:hover {
    cursor: pointer;
    background-color: #008cc4;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.travel-route {
    display: flex;
    align-items: center;
}

.destination {
    margin: 2px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-weight: 500;
    font-size: .9rem;
}

.arrow {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 0 10px;
}
.gap {
    gap: 5rem!important;
}


