
body {
    height: 85vh;
    text-align: center;
    background-size: cover;
}


/* Header and Footer Styles */
header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 84vh;
    padding: 2rem 14rem;
}

input {
    outline: none;
    border: none;
}


/* Travel Card */
.travel-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.travel-card:hover {
    transform: scale(1.05);
}

/* Titles and Messages */
#driver-title,
#passenger-title,
#no-travels-as-passenger,
#no-travels-to-show {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 30px;
}

.travel-card-content {
    color: black;
}

/* Travel Info */
.travel-info {
    flex-grow: 1;
    margin-right: 20px;
}

.text {
    color: black;
}

.travel-info h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.travel-info p {
    margin: 5px 0;
    color: #777;
    font-size: 14px;
}

/* Travel Status */
.travel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    background-color: #27ae60;
}

/* Button Container */
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

/* Buttons */
.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.view {
    background-color: #3498db;
    margin-right: 10px;
}

.btn.delete {
    background-color: #e74c3c;
}

footer {
    border-bottom: 1px solid #e1e1e1;
}