
body, h1, h2, h3, p, ul, ol, li, table, td, th {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-image: url('images/CoverPicture.svg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#main {
    padding: 1rem 5rem;
    min-height: 84vh;
}

#main div{
    padding-top: .5rem;
}

/* Style the main content */
#content {
    width: 50%;
    margin: auto;
    padding: 0px 0px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#buttons {
    padding: 0px 0px;
    border-radius: 10px;
}


#navigation-btns-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

#toggle-btns-container{
    width: 50%;
    margin: auto;
}

.green{
    color: #1f5617;
    font-weight: bold;
}
.yellow{
    color: #c59618;
    font-weight: bold;
}
.red{
    color: darkred;
    font-weight: bold;
}
.blue{
    color: darkblue;
    font-weight: bold;
}

/* Travel Card */
.travel-card {
    border-radius: 8px;
    padding: 20px;
    /*margin: 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}
.bold{
    font-size: 1.5rem;
    font-weight: bold;
}
.travel-card-content {
    color: black;
}

.travel-card-content > * {
    padding: .3rem;
    gap: .6rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#infoContainer,
#information-container {
    width: 40%;
}

#toggleButton:hover + #infoContainer,
#toggle:hover + #information-container {
    display: block;
}

#infoContainer table th,
#infoContainer table td,
#information-container table th,
#information-container table td {
    border-radius: 15px; /* Adjust the value to make it more or less oval */
}

#no-passengers, #no-requests {
    color: honeydew;
    font-size: 25px;
    width: 190%;
}


/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}


.btn:hover {
    background-color: #555;
}

/* Style the info container */
.info {
    border-radius: 20%;
    margin-bottom: 5px;
}

/* Style the oval-shaped map container */
#mapContainer {
    width: 80%;
    height: 700px;
    overflow: hidden;
    margin: 20px auto;
}

@media (max-width: 768px) {
    #content {
        padding: 10px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    border: none;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border: none;
}

th {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    border: none;
    color: #444;
}

td {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border: none;
}


/* Style the buttons */
.btn {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: center;
}


