<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Verification</title>
  <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
  <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
  <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
  <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
  <link rel="stylesheet" href="../static/blockedUser.css" th:href="@{/blockedUser.css}">
</head>
<body>
<!--HEADER-->
<header th:replace="index.html :: header"></header>
<section class="main">
  <h1 class="title">Your account has been blocked</h1>
  <p>We've detected suspicious activity on your account and travels creation and application have been blocked.<br>Please contact Administrator.</p>
  <img src="../static/images/BlockedUser.png" th:src="@{/images/BlockedUser.png}">
</section>
<!--FOOTER-->
<header th:replace="index.html :: footer"></header>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
</body>
</html>