<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
    <link rel="stylesheet" href="../static/changePassword.css" th:href="@{/changePassword.css}">
</head>
<body>
<!--HEADER-->
<header th:replace="index.html :: header"></header>
<section class="main">

    <h1 class="login-title">Change password</h1>
    <form id="search-form" class="form" th:action="@{'/users/' + ${userId} + '/change-password'}"
          th:object="${changePasswordInfo}" method="post">
        <div>
            <div class="input-container">
                <div>
                    <a class="password show-old-password">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <i class="fa-solid fa-lock"></i>
                    <input id="old-password" type="password" th:field="*{oldPassword}" placeholder="Old password">
                </div>
            </div>
        </div>
        <div>
            <div class="input-container">
                <div>
                    <a class="password show-new-password">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <i class="fa-solid fa-lock"></i>
                    <input id="new-password" type="password" th:field="*{newPassword}" placeholder="New password">
                </div>
            </div>
        </div>
        <div>
            <div class="input-container">
                <div>
                    <a class="password show-confirm-password">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <i class="fa-solid fa-lock"></i>
                    <input id="confirm-password" type="password" th:field="*{confirmNewPassword}" placeholder="Confirm New password">
                </div>
            </div>
        </div>
        <div class="errors">
            <label class="error" th:errors="*{oldPassword}">Old password error placeholder</label>
            <label class="error" th:errors="*{newPassword}">New password error placeholder</label>
            <label class="error" th:errors="*{confirmNewPassword}">Confirm new password error placeholder</label>
        </div>

        <button onclick="myFunction()" type="submit" id="search">Save</button>
    </form>
</section>
<!--FOOTER-->
<header th:replace="index.html :: footer"></header>
<script type="text/javascript" src="../static/js/showHidePassOnChange.js" th:src="@{/js/showHidePassOnChange.js}"></script>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
</body>
</html>