<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed travels</title>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
    <link rel="stylesheet" href="../static/travelsStyles.css" th:href="@{/travelsStyles.css}">
</head>
<body>
<header th:replace="index.html :: header"></header>
<section class="main">
    <!--HEADER-->


    <!--    CONTENT-->
    <div id="content">
        <h1 id="driver-title">Completed Travels</h1>
        <div class="no-travels" th:if="${travels.isEmpty()}">
            <h2 id="no-travels-to-show" th:text="#{travel.label.no-travels}">No travels to show</h2>
        </div>
        <div th:unless="${travels.isEmpty()}" class="travel-cards-container">
            <div th:each="travel : ${travels}" class="travel-card" th:attr="data-id=${travel.id}">
                <div class="travel-card-content">
                    <h2 th:text="${'Driver: ' + travel.driverName}">Driver: John Doe</h2>
                    <p th:text="${'Departure: ' + travel.departurePoint}">Departure: Burgas</p>
                    <p th:text="${'Arrival: ' + travel.arrivalPoint}">Arrival: Sofia</p>
                    <p th:text="${'Free Spots: ' + travel.freeSpots}">Free Spots: 2</p>
                </div>

                <span class="text" th:text="${travel.status}">Completed</span>

            </div>
        </div>
    </div>
</section>
<footer th:replace="index.html :: footer"></footer>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        const travelCards = document.querySelectorAll('.travel-card');
        travelCards.forEach(card => {
            card.addEventListener('click', () => {
                const travelId = card.getAttribute('data-id');
                if (travelId) {
                    window.location.href = `/travels/${travelId}`;
                }
            });
        });
    });
</script>
</body>
</html>