<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/index.css" th:href="@{/index.css}">
</head>
<body>
<header th:fragment="header" class="header">
    <div th:if="${!isAuthenticated}" class="dropdown">
        <nav>
            <ul class="links" role="list">
                <li class="link">
                    <a class="btn" th:href="@{/auth/login}">
                        <div>
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <span class="btn-content">Log in</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
                <li class="link">
                    <a class="btn">
                        <div>
                            <i class="fa-solid fa-user-plus"></i>
                            <span class="btn-content">Sigh up</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:unless="${!isAuthenticated}" class="dropdown">
        <nav>
            <ul class="links" role="list">
                <li class="link">
                    <a class="btn" th:href="@{/auth/login}">
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <span class="btn-content">Profile</span>
                        </div>

                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
                <li class="link">
                    <a class="btn">
                        <div>
                            <i class="fa-solid fa-car-side"></i>
                            <span class="btn-content">Your rides</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
                <li class="link">
                    <a class="btn" th:href="@{/auth/logout}">
                        <div>
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <span class="btn-content">Log out</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="logo">
        <img th:src="@{/images/carpool_logo.png}" src="../static/images/carpool_logo.png">
    </div>
    <div class="btns">
        <a th:if="${isAdmin}" class="admin-btn-container">
            <i class="fa-solid fa-gear"></i>Admin
        </a>
        <a class="search-btn-container">
            <i class="fa-solid fa-magnifying-glass"></i>Search
        </a>
        <a class="create-btn-container">
            <i class="fa-solid fa-circle-plus"></i>Publish a ride
        </a>
        <a id="avatar">
            <span class="avatar avatar-content-container">
                <i class="avatar fa-solid fa-circle-user"></i>
                <span class="avatar" th:text="${session.currentUser}" th:if="${isAuthenticated}"></span>
                <i class="avatar fa-solid fa-chevron-down"></i>
            </span>
        </a>
    </div>
</header>
<section class="hero">
    <form id="search-form" class="form" method="get" action="#" th:action="@{/auth/login}">
        <div class="from-container">
            <i class="fa-solid fa-circle-dot"></i>
            <input type="text" placeholder="Leaving from...">
        </div>
        <div class="to-container">
            <i class="fa-solid fa-circle-dot"></i>
            <input type="text" placeholder="Going to...">
        </div>
        <div class="to-container">
            <i class="fa-solid fa-calendar-days"></i>
            <input type="date" id="date" onfocus="this.showPicker()">
        </div>
        <div class="passengers-container">
            <i class="fa-solid fa-user"></i>
            <input type="number" id="passengers" value="1">
        </div>
        <button type="submit" id="search">Search</button>
    </form>
    <h1 class="title">Your pick of rides at low prices</h1>
    <img th:src="@{/images/CoverPicture.svg}" src="../static/images/CoverPicture.svg">
</section>
<section class="additional-info">
    <div class="info-container">
        <i class="fa-solid fa-coins"></i>
        <h2 class="info-title">Your pick of rides at low prices</h2>
        <p class="info-content">
            No matter where you’re going, by bus or carpool, find the perfect ride from our wide
            range of destinations and routes at low prices.</p>
    </div>
    <div class="info-container">
        <i class="fa-solid fa-user-check"></i>
        <h2 class="info-title">Trust who you travel with</h2>
        <p class="info-content">
            We take the time to get to know each of our members and bus partners. We check reviews, profiles and IDs, so
            you know who you’re travelling with and can book your ride at ease on our secure platform.
        </p>
    </div>
    <div class="info-container">
        <i class="fa-solid fa-bolt-lightning"></i>
        <h2 class="info-title">Scroll, click, tap and go!</h2>
        <p class="info-content">
            Booking a ride has never been easier! Thanks to our simple app powered by great technology, you can book a
            ride close to you in just minutes.
        </p>
    </div>
</section>
<footer class="footer">
    <div class="links-container">
        <a class="terms-and-conditions">Terms and Conditions</a>
        <a class="faqs">FAQs</a>
    </div>
    <div class="links-container">
        <img class="logo" th:src="@{/images/carpool_simplelogo.png}" src="../static/images/carpool_simplelogo.png">
        <p class="rights-reserved">Carpool, 2023 ©</p>
    </div>

</footer>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
</body>
</html>