<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/login.css" th:href="@{/login.css}">
</head>
<body>
<h1 class="login-title">Login</h1>
<form id="search-form" class="form" th:action="@{/auth/login}" th:object="${login}" method="post">
    <a class="show-password">
        <i class="fa-solid fa-eye"></i>
    </a>
    <div>
        <div class="input-container">
            <div>
                <i class="fa-solid fa-user"></i>
                <input type="text" th:field="*{userName}" placeholder="Username">
            </div>
            <label class="error" th:errors="*{userName}">Username error placeholder</label>
        </div>
        <div class="input-container">
            <div>
                <i class="fa-solid fa-lock"></i>
                <input id="password" type="password" th:field="*{password}" placeholder="Password">
            </div>
            <label class="error" th:errors="*{password}">Password error placeholder</label>
        </div>
    </div>
    <button type="submit" id="search">Login</button>
</form>
<script type="text/javascript" src="../static/js/showHidePass.js" th:src="@{/js/showHidePass.js}"></script>
</body>
</html>
