<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travels</title>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
</head>
<body>
<section class="main">
    <!--HEADER-->
    <header th:replace="index.html :: header"></header>

<!--    CONTENT-->
    <div id="content">
        <div class="no-travels" th:if="${travels.isEmpty()}">
            <h2 th:text="#{travel.label.no-travels}">No travels to show</h2>
        </div>
        <table th:unless="${travels.isEmpty()}" class="table custom-table">
            <thead>
            <tr>
                <th scope="col" th:text="#{travel.label.driver}">Driver</th>
                <th scope="col" th:text="#{travel.label.departure-point}">Departure Point</th>
                <th scope="col" th:text="#{travel.label.arrival-point}">Arrival Point</th>
                <th scope="col" th:text="#{travel.label.free-spots}">Free Spots</th>
                <th scope="col" th:text="#{travel.label.status}">Status</th>
            </tr>
            </thead>
            <tbody th:each="travel : ${travels}">
            <tr>
                <td>
                    <p class="post-title"  th:href="@{/travels/{id}(id=${travel.getId()})}"
                       th:text="${travel.getDriverName()}">Driver</p>
                </td>
                <td th:text="${travel.getDeparturePoint()}">Burgas</td>
                <td th:text="${travel.getArrivalPoint()}">Sofia</td>
                <td th:text ="${travel.getFreeSpots()}">Free Spots</td>
                <td th:text="${travel.getStatus()}">COMPLETED</td>
                <td th:if="${isAdmin} and ${!travel.getDriverName().equals(session.currentUser)}">
                    <a class="btn view" href="#" th:href="@{/travels/{id}(id=${travel.getId()})}"><i
                            class="fa-solid fa-eye fa-beat"></i></a>
                    <a class="btn edit" href="#" th:href="@{/travels/{id}/update(id=${travel.getId()})}"><i
                            class="fa-solid fa-pencil"></i></a>
                    <a class="btn delete" href="#" th:href="@{/travels/{id}/delete(id=${travel.getId()})}"><i
                            class="fa-solid fa-trash-can"></i></a>
                </td>
<td th:if="${!travel.getDriverName().equals(session.currentUser)}">
    <a  class="btn view" href="#" th:href="@{/travels/{id}/apply(id=${travel.getId()})}"><i class="fa-solid fa-plus"></i></a>
    <a  class="btn view" href="#" th:href="@{/travels/{id}/reject(id=${travel.getId()})}"><i class="fa-solid fa-ban"></i></a>
</td>
                <td th:if="${travel.getDriverName().equals(session.currentUser)}">

                    <a class="btn view" href="#" th:href="@{/travels/{id}(id=${travel.getId()})}"><i
                            class="fa-solid fa-eye fa-beat"></i></a>
                    <a class="btn edit" href="#" th:href="@{/travels/{id}/update(id=${travel.getId()})}"><i
                            class="fa-solid fa-pencil"></i></a>
                    <a class="btn delete" href="#" th:href="@{/travels/{id}/delete(id=${travel.getId()})}"><i
                            class="fa-solid fa-trash-can"></i></a>
                </td>
                <td th:if="${!travel.getDriverName().equals(session.currentUser)} and !${isAdmin}">
                    <a class="btn view" href="#" th:href="@{/travels/{id}(id=${travel.getId()})}"><i
                            class="fa-solid fa-eye fa-beat"></i></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <footer th:replace="index.html :: footer"></footer>
</section>
</body>
</html>