<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Travel Details</title>
    <script type="text/javascript"
            src="https://www.bing.com/api/maps/mapcontrol?key=ApCDqrWiyt1uxxpCrXxFDT44JTvyUnba2onqQ9NEyrYFEKCq5F9-U02xEb2rcMcw"></script>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
    <link rel="stylesheet" href="../static/filtersButton.css" th:href="@{/filtersButton.css}">
    <link rel="stylesheet" href="../static/travelStyles.css" th:href="@{/travelStyles.css}">
</head>
<body>
<header th:replace="index.html :: header"></header>
<section class="main" id="main">

    <div id="content">
        <table>
            <thead>
            <tr>
                <th scope="col" th:text="#{travel.label.driver}">Driver</th>
                <th scope="col" th:text="#{travel.label.departure-point}">Departure Point</th>
                <th scope="col" th:text="#{travel.label.arrival-point}">Arrival Point</th>
                <th scope="col" th:text="#{travel.label.free-spots}">Free Spots</th>
                <th scope="col" th:text="#{travel.label.distance}">Distance</th>
                <th scope="col" th:text="#{travel.label.duration}">Duration</th>
                <th scope="col" th:text="#{travel.label.departure-time}">Departure Time</th>
                <th scope="col" th:text="#{travel.label.arrival-time}">Arrival Time</th>
                <th scope="col" th:text="#{travel.label.price}">Price</th>
                <th scope="col" th:text="#{travel.label.status}">Status</th>
                <th th:if="${!travel.getComment().isEmpty()}" scope="col" th:text="#{travel.label.comment}">Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${travel.getDriverName()}">Driver</td>
                <td th:text="${travel.getDeparturePoint()}">Burgas</td>
                <td th:text="${travel.getArrivalPoint()}">Sofia</td>
                <td th:text="${travel.getFreeSpots()}">Free Spots</td>
                <td th:text="${travel.getDistance()}">150km</td>
                <td th:text="${travel.getDuration()}">1h 54min</td>
                <td th:text="${#temporals.format(travel.getDepartureTime(),'dd MMM y HH:mm')}">1-Jan 10:45</td>
                <td th:text="${#temporals.format(travel.getArrivalTime(),'dd MMM y HH:mm')}">2-Jan 10;45</td>
                <td th:text="${travel.getPrice()}">10lv</td>
                <td th:text="${travel.getStatus()}">COMPLETED</td>
                <td th:if="${!travel.comment.isEmpty()}" th:text="${travel.getComment()}">Comment</td>
                <td th:if="${isAdmin} and ${!travel.getDriverName().equals(session.currentUser)} and ${travel.status == T(com.example.carpooling.models.enums.TravelStatus).PLANNED}">
                    <a class="btn delete" href="#" th:href="@{/travels/{id}/delete(id=${travel.getId()})}"><i
                            class="fa-solid fa-trash-can"></i></a>

                </td>
                <td th:if="${travel.getDriverName().equals(session.currentUser)} and ${travel.status == T(com.example.carpooling.models.enums.TravelStatus).PLANNED}">
                    <a class="btn edit" href="#" th:href="@{/travels/{id}/update(id=${travel.getId()})}"><i
                            class="fa-solid fa-pencil"></i></a>
                    <a class="btn delete" href="#" th:href="@{/travels/{id}/delete(id=${travel.getId()})}"><i
                            class="fa-solid fa-trash-can"></i></a>
                </td>
                <td th:if="${!travel.getDriverName().equals(session.currentUser)} and ${!isPassenger} and ${travel.status == T(com.example.carpooling.models.enums.TravelStatus).PLANNED}">
                    <a  class="btn delete" href="#" th:href="@{/travels/{id}/apply(id=${travel.getId()})}">
                        <button class="btn"
                                th:text="${isRequestedByUser ? 'Cancel Request' : 'Apply for Travel'}"></button>
                    </a>
                </td>

                <td th:if="${travel.getDriverName().equals(session.currentUser)} and ${travel.status == T(com.example.carpooling.models.enums.TravelStatus).ACTIVE}">
                    <a class="btn delete" href="#" th:href="@{/travels/{id}/complete(id=${travel.getId()})}">
                        <i class="fa-solid fa-check"></i></a>
                </td>
                <td th:if="${travel.getDriverName().equals(session.currentUser)} and ${travel.status ==T(com.example.carpooling.models.enums.TravelStatus).PLANNED}">
                    <a  class="btn" href="#" th:href="@{/travels/{id}/cancel(id=${travel.getId()})}">Cancel Travel</a>
                </td>
                <td th:if="${isPassenger} and ${travel.getStatus() == T(com.example.carpooling.models.enums.TravelStatus).PLANNED}">
                    <a class="btn edit" href="#" th:href="@{/travels/{id}/delete-request(id=${travel.getId()})}">Withdraw
                        your seat</a>
                </td>


            </tr>
            </tbody>
        </table>
    </div>

    <button th:if="${travel.getDriverName().equals(session.currentUser)} or ${isAdmin}" class="btn" id="toggleButton">
        Show passengers<i id="show-hide-icon"
                          class="fa-solid fa-angle-down"></i></button>
    <div th:if="${travel.getDriverName().equals(session.currentUser)} or ${isAdmin}" id="infoContainer"
         style="display:none" class="info">
        <div th:if="${passengers.isEmpty()}" id="no-passengers">
            <h1>No passengers to show</h1>
        </div>
        <table th:unless="${passengers.isEmpty()}">
            <tr>
                <th>Passengers:</th>
            </tr>
            <tr th:each="passenger : ${passengers}">
                <td>
                    <span th:text="${passenger.firstName} + ' ' + ${passenger.lastName} + ' (' + ${passenger.userName} + ')'"></span>
                    <span th:if="${travel.getDriverName().equals(session.currentUser)}">
                <a class="btn"  th:href="@{/travels/{id}/remove/user/{userId}(id=${travel.getId()},userId=${passenger.getId()})}"><i class="fa-sharp fa-solid fa-trash"></i></a>
            </span>
                </td>
            </tr>
        </table>


    </div>

    <button th:if="${travel.getDriverName().equals(session.currentUser)} or ${isAdmin}" class="btn" id="toggle">Show
        Travel Requests
        <i id="show-hide-ico"
           class="fa-solid fa-angle-down"></i></button>
    <div th:if="${travel.getDriverName().equals(session.currentUser)} or ${isAdmin}" id="information-container" style="display:none"
         class="info">
        <div th:if="${travelRequestForThisTravel.isEmpty()}" id="no-requests">
            <h1>No travel requests to show</h1>
        </div>
        <table th:unless="${travelRequestForThisTravel.isEmpty()}">
            <th>Name:</th>
            <tr th:each="travelRequest : ${travelRequestForThisTravel}">
                <td th:text="${travelRequest.passenger.firstName} + ' ' + ${travelRequest.passenger.lastName}"></td>
                <td th:if="${travel.getDriverName().equals(session.currentUser)}">
                    <a class="btn"  th:href="@{/travels/{id}/approve/user/{userId}(id=${travel.getId()},userId=${travelRequest.getPassenger().getId()})}"><i class="fa-solid fa-check"></i></a>
                    <a  class="btn" th:href="@{/travels/{id}/reject/user/{userId}(id=${travel.getId()},userId=${travelRequest.getPassenger().getId()})}"><i class="fa-solid fa-xmark-large"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <div id="mapContainer"></div>
</section>
<footer th:replace="index.html :: footer"></footer>
<script type="text/javascript">
    function loadMap() {
        var start = '[[${startDestination}]]';
        var end = '[[${endDestination}]]';
        var map = new Microsoft.Maps.Map(document.getElementById('mapContainer'), {
            credentials: 'ApCDqrWiyt1uxxpCrXxFDT44JTvyUnba2onqQ9NEyrYFEKCq5F9-U02xEb2rcMcw'
        });
        var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
        var startLocation = new Microsoft.Maps.Directions.Waypoint({address: start});
        var endLocation = new Microsoft.Maps.Directions.Waypoint({address: end});

        directionsManager.addWaypoint(startLocation);
        directionsManager.addWaypoint(endLocation);

        directionsManager.setRequestOptions({
            routeMode: Microsoft.Maps.Directions.RouteMode.driving
        });

        directionsManager.calculateDirections();

    }

    window.onload = function () {
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', {callback: loadMap});
    };
</script>
<script>
    var mapContainer = document.getElementById('mapContainer');

    mapContainer.addEventListener('wheel', function(event) {
        event.stopPropagation();
    });
</script>
<script>
    function toggleLabel() {
        var button = document.getElementById("dynamic-button");
        if (button.innerHTML === "Apply for travel") {
            button.innerHTML = "Cancel your request";
        } else {
            button.innerHTML = "Apply for travel";
        }
    }
</script>
<script type="text/javascript" src="../static/js/showTravelRequests.js"
        th:src="@{/js/showTravelRequests.js}"></script>
<script type="text/javascript" src="../static/js/showPassengers.js"
        th:src="@{/js/showPassengers.js}"></script>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
</body>
</html>
