<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="website icon" type="png" href="../static/images/carpool_simplelogo.png"
          th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
</head>
<body>
<section class="main">
    <!--HEADER-->
    <header th:replace="index.html :: header"></header>
    <div id="content">
        <h1 class="title">Update Travel</h1>
        <form class="form" th:action="@{/travels/{id}/update(id=${travelId})}" th:object="${updateTravel}" action="#"
              method="post">
            <div class="field-container">
                <label th:text="#{travel.label.departure-point}">Departure Point</label>
                <input type="text" id="title" th:field="*{departurePoint}" placeholder="Start Destination">
                <label class="error" th:errors="*{departurePoint}">Departure point cannot be empty field!></label>
            </div>
            <div class="field-container">
                <div class="content-characters">
                    <label th:text="#{travel.label.arrival-point}">Arrival point </label>
                    <input type="text" th:field="*{arrivalPoint}" placeholder="Arrival Destination">
                    <label class="error" th:errors="*{arrivalPoint}">Arrival point field cannot be empty!</label>
                </div>
            </div>
            <div class="field-container">
                <label th:text="#{travel.label.free-spots}">Free Spots</label>
                <input type="number" th:field="*{freeSpots}"  placeholder="Free Spots ">
            </div>
            <div class="field-container">
                <label th:text="#{travel.label.departure-time}">Departure Time</label>
                <input type="datetime-local" th:field="*{departureTime}" placeholder="Departure Time">
                <label class="error" th:errors="*{departureTime}">Departure time should be present or future
                    date!></label>
            </div>
            <div class="field-container">
                <label th:text="#{travel.label.comment}">Comment</label>
                <textarea id="comment-content" cols="10" rows="5" th:field="*{comment}"
                          placeholder="Comment"></textarea>
            </div>
            <input type="submit" value="Update Travel">
        </form>
    </div>
    <!--FOOTER-->
    <footer th:replace="index.html :: footer"></footer>
</section>
</body>
</html>