<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
    <link rel="stylesheet" href="../static/register.css" th:href="@{/register.css}">
</head>
<body>
<!--HEADER-->
<header th:replace="index.html :: header"></header>
<section class="main">

    <h1 class="login-title">Edit profile</h1>
    <form id="search-form" class="form" th:action="@{'/users/' + ${user.getId()} + '/update'}" th:object="${user}"
          method="post">
        <div>
            <div class="input-container">
                <div>
                    <i class="fa-solid fa-circle-dot"></i>
                    <input type="text" th:field="*{firstName}" placeholder="First name">
                </div>

            </div>
            <div class="input-container">
                <div>
                    <i class="fa-solid fa-circle-dot"></i>
                    <input type="text" th:field="*{lastName}" placeholder="Last name">
                </div>

            </div>
        </div>
        <div>
            <div class="input-container">
                <div>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" th:field="*{userName}" placeholder="Username">
                </div>
            </div>
            <div class="input-container">
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" th:field="*{phoneNumber}" placeholder="Phone number">
                </div>
            </div>
        </div>
        <div>
            <div class="input-container">
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" th:field="*{email}" placeholder="Email address">
                </div>
            </div>
        </div>
        <div class="errors">
            <label class="error" th:errors="*{firstName}">First name error placeholder</label>
            <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
            <label class="error" th:errors="*{userName}">Username error placeholder</label>
            <label class="error" th:errors="*{phoneNumber}">Password error placeholder</label>
            <label class="error" th:errors="*{email}">Username error placeholder</label>
        </div>

        <button type="submit" id="search">Update</button>
    </form>
</section>
<!--FOOTER-->
<header th:replace="index.html :: footer"></header>
<script type="text/javascript" src="../static/js/showHidePass.js" th:src="@{/js/showHidePass.js}"></script>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
</body>
</html>