<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="website icon" th:type="png" th:href="@{/images/carpool_simplelogo.png}">
    <link rel="stylesheet" href="../static/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/header.css" th:href="@{/header.css}">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}">
    <link rel="stylesheet" href="../static/newTravelStyles.css" th:href="@{/newTravelStyles.css}">
</head>
<body>

<header th:replace="index.html :: header"></header>
<section class="main">
    <div id="content">
    <h1 class="form-title">Update Travel</h1>
        <form class="form" th:action="@{'/travels/' + ${travelId} + '/update'}" th:object="${updateTravel}" method="post">
        <div class="names-container">
            <div class="field-container">
                <label th:text="#{travel.label.departure-point}">Departure Point</label>
                <input type="text" id="title" th:field="*{departurePoint}" placeholder="Start Destination">
                <label class="error" th:errors="*{departurePoint}">Departure point cannot be empty field!></label>
            </div>
            <div class="field-container">
                <div class="content-characters">
                    <label th:text="#{travel.label.arrival-point}">Arrival point </label>
                    <input type="text" th:field="*{arrivalPoint}" placeholder="Arrival Destination">
                    <label class="error" th:errors="*{arrivalPoint}">Arrival point field cannot be empty!</label>
                </div>
            </div>
        </div>
        <div class="names-container">
            <div class="field-container">
                <label th:text="#{travel.label.free-spots}">Free Spots</label>
                <input type="number" th:field="*{freeSpots}" placeholder="Free Spots ">
            </div>
            <div class="field-container">
                <label th:text="#{travel.label.departure-time}">Departure Time</label>
                <input type="datetime-local" th:field="*{departureTime}" placeholder="Departure Time">
                <label class="error" th:errors="*{departureTime}">Departure time should be present or future
                    date!></label>
            </div>
        </div>
        <div class="names-container">
            <div class="field-container">
                <label th:text="#{travel.label.comment}">Comment</label>
                <input type="text" th:field="*{comment}"
                       placeholder="Comment">
            </div>
            <div class="field-container">
                <label th:text="#{travel.label.price}">Price</label>
                <input type="number" th:field="*{price}"
                       placeholder="Price">
            </div>
        </div>
        <div class="names-container">
            <div id="vehicle" class="field-container">
                <label th:text="#{travel.label.vehicle}">Vehicle</label>
                <select th:field="*{vehicle}">
                    <option th:each="vehicle : ${vehicles}"
                            th:value="${vehicle.getId()}"
                            th:text="${vehicle.getMake() +' ' } + ${vehicle.getModel()}">
                    </option>
                </select>
                <label class="error" th:errors="*{vehicle}">Vehicle error placeholder</label>
            </div>
        </div>
        <button type="submit" value="Update Travel">Update Travel</button>
    </form>
    </div>
</section>
<footer th:replace="index.html :: footer"></footer>
<script type="text/javascript" src="../static/js/showDropdown.js" th:src="@{/js/showDropdown.js}"></script>
</body>
</html>